@{
    List<LibModels.PhanHoi> l_PhanHoi = ((TrungTamTienDat.Models.ViewModels)Model).l_PhanHoi;
    List<LibModels.GiaoVien> l_GiaoVien = ((TrungTamTienDat.Models.ViewModels)Model).l_GiaoVien;
    List<LibModels.BaiViet> l_BaiViet = ((TrungTamTienDat.Models.ViewModels)Model).l_BaiViet;
}

<div id="slider-wrap">
    <div class="flexslider">
        <ul class="slides">                                        		
            <li>
                <a href="single-service.html" title="Toán học"  class="img-hover" ><img src="/images/Refined/doctors.jpg" alt="Slider Image"></a>
            </li>
            <li>
                <a href="single-service.html" title="Hóa học"  class="img-hover" ><img src="/images/Refined/clinical.jpg" alt="Slider Image"></a>
            </li>
            <li>
                <a href="single-service.html" title="Vật lý"  class="img-hover" ><img src="/images/Refined/dental.jpg" alt="Slider Image"></a>
            </li>
            <li>
                <a href="single-service.html" title="Văn học"  class="img-hover" ><img src="/images/Refined/caring-staff.jpg" alt="Slider Image"></a>
            </li>
            <li>
                <a href="single-service.html" title="Tiếng Anh"  class="img-hover" ><img src="/images/Refined/couseling.jpg" alt="Slider Image"></a>
            </li>
        </ul>
        <ul class="slide-nav slides-5" style="background-color: #F16A6C;">
            <li>
                <h4>Toán học</h4>
                <p>Nhiệt tình, tận tụy</p>
            </li> 
            <li>
                <h4>Hóa học</h4>
                <p>Nhiệt tình, tận tụy</p>
            </li> 
            <li>
                <h4>Vật lý</h4>
                <p>Nhiệt tình, tận tụy</p>
            </li> 
            <li>
                <h4>Văn học</h4>
                <p>Nhiệt tình, tận tụy</p>
            </li> 
            <li>
                <h4>Tiếng Anh</h4>
                <p>Nhiệt tình, tận tụy</p>
            </li>                                            
        </ul><!-- end of slider nav -->
    </div>
</div><!-- end of slider-wrap -->
                        
<div id="container">
    <section class="slogan" style="text-align: left;">
        <h2>Bài giảng gần đây nhất</h2>
    </section>
    @if(l_BaiViet.Count > 0) {  
        <ul class="services">
            @{
                foreach (LibModels.BaiViet bv in l_BaiViet)
                {
                    <li class="service">
                        <figure class="service-thumb"><a href="/BaiViet/ChiTiet/@bv.ID"><img src="@bv.URL"></a></figure>
                        <h4><a href="/BaiViet/ChiTiet/@bv.ID">@bv.TieuDe</a></h4>
                        <p align="justify">@bv.SoLuoc</p>
                    </li>
                }
            }
        </ul><!-- end of services -->
    }
                                
    <div id="content" class="full-width"></div>
                                
    <div class="official clearfix">
        <div class="home-left-side">                                        
            <section class="team clearfix">
                <h2 class="smart-head">Đội ngũ giáo viên</h2>
                @if (l_GiaoVien.Count > 0)
                {
                    <ul class="doctors">
                        @{
                            foreach (LibModels.GiaoVien gv in l_GiaoVien)
                            {
                                <li>
                                    <h4><a href="/GiaoVien/ChiTiet/@gv.ID"></a></h4>
                                    <figure class="doc-img">
                                        <a href="/GiaoVien/ChiTiet/@gv.ID" title="Xem thêm: @gv.HoTen" ><img src="@gv.URL" class="anhGV"></a>
                                        <span class="doc-type">@gv.HoTen</span>	
                                    </figure>
                                    <p>@gv.SoLuoc</p>
                                </li> 
                            }
                        }
                    </ul>
                }
                <a href="doctors-four-columns.html" class="readmore">Xem tất cả</a>
            </section>
                                            
            <section class="testi" style="margin-bottom: 20px;">
                <h2 class="smart-head">Đánh giá từ học viên</h2>
                <div class="pslider">
                    @if (l_PhanHoi.Count > 0)
                    {
                        <ul class="patients" style="position: relative; height: 133px;">
                            @{
                                foreach (LibModels.PhanHoi ph in l_PhanHoi)
                                {
                                    <li style="position: absolute; top: 0px; z-index: 3; opacity: 0; display: none;">
                                        <div class="imgbox" style="background-image: url(/images/Refined/default-avatar.png); background-color: rgb(230, 230, 230); background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
                                            <img  src="/images/Refined/default-avatar.png" alt="Image" style="display: none;">
                                        </div>
                                        <div class="detail">
                                            <blockquote>
                                                <p>@ph.NoiDung</p>
                                            </blockquote>
                                            <p class="author"><a href="#" class="author">@ph.HoTen,</a> @ph.DiaChi</p>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    }
                </div>
                                                    
                <p class="patient-nav">
                    <span class="t_left"></span>
                    <span class="t_right"></span>
                </p>
                                                    
            </section><!-- end of testi section -->
        </div><!-- home left side -->

        <aside id="sidebar">
            <section class="widget" style="margin-top: 12px;"><h3 class="title">Đăng ký online</h3>       
                <div class="newsletter">                  
                    <form id="newsletter" method="post" novalidate>
                        <p>Tìm kiếm lớp học và đăng ký tại đây</p>
                        <p>
                            <input type="button" id="dangKy" value="Xem danh sách lớp học" class="readmore">
                        </p>
                        <div class="error-container"></div>
                    </form>
                </div>               
            </section>            

            <section class="widget">                   
                <div class="appointment">
                    <div class="header">
                            <center><h2>Đánh giá & phản hồi</h2></center>
                            <h3 class="number">090.328.8866</h3>
                    </div>
                    <form id="appoint-form" method="post">
                        <p>
                            <label class="display-ie8" for="apo_name">Họ tên</label>
                            <input type="text" name="apo_name" class="validate[required]" id="hoTen" maxlength="50" placeholder="Họ tên" />
                        </p>
                        <p>
                            <label class="display-ie8" for="apo_phone">Tuổi</label>
                            <input type="text" name="apo_phone" class="validate[required]" id="tuoi" maxlength="3" placeholder="Tuổi" />
                        </p>
                        <p>
                            <label class="display-ie8" for="apo_email">Địa chỉ</label>
                            <input  type="text" name="apo_email"  class="validate[required]"id="diaChi" maxlength="200" placeholder="Địa chỉ" />
                        </p>
                        <p>
                            <label class="display-ie8" for="apo_date">"Tiêu đề</label>
                            <input type="text" name="apo_date" class="validate[required]" id="tieuDe" maxlength="100" placeholder="Tiêu đề" />
                        </p>
                        <p>
                            <label class="display-ie8" for="apo_date">Nội dung</label>
                            <textarea name="message" class="validate[required]" cols="30" rows="5" id="noiDung" maxlength="500" placeholder="Nội dung"></textarea>
                        </p>
                                                            
                        <div class="captcha-container">
                            <div id="divGenerateRandomValues"></div>
                            <a href="#" id="reloadCaptcha"><img src="/images/refreshCaptcha.png" /></a>
                            <input type="text" class="captcha validate[required]" id="captchaInput" maxlength="5"/>
                        </div>
                                                            
                        <p>
                            <input type="submit" value="Gửi phản hồi" id="submit" class="readmore">
                        </p>
                    </form>
                </div>                             
            </section>		
        </aside>                                        
    </div> <!-- end of official -->								
</div><!-- end of container -->

<script>
    $(document).ready(function () {
        $(document).on("input", "#tuoi", function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });

        var iNumber = Math.floor(Math.random() * 100000);
        $("#divGenerateRandomValues").css({ "background-image": 'url(/images/captcha-bg.jpg)', 'width': '140px', 'height': '45px', 'margin-bottom': '15px', 'float': 'left' });
        $("#divGenerateRandomValues").html("<input id='txtCaptcha'></input>");  
        $("#txtCaptcha").css({ 'background': 'transparent', 'font-family': 'goodbye', 'font-style': 'bold', 'font-size': '36px' });
        $("#txtCaptcha").css({ 'width': '140px', 'border': 'none', 'color': 'black', 'text-align': 'center' });
        $("#txtCaptcha").val(iNumber);
        $("#txtCaptcha").prop('disabled', true);
        
        $('#reloadCaptcha').click(function () {
            iNumber = Math.floor(Math.random() * 100000);
            $("#txtCaptcha").val(iNumber);
            return false;
        });

        $("#submit").click(function () {
            $(this).prop('disabled', true);
            if ($.trim($("#hoTen").val()) != '' && $.trim($("#tuoi").val()) != '' && $.trim($("#diaChi").val()) != '' && $.trim($("#tieuDe").val()) != '' && $.trim($("#noiDung").val()) != '' && $.trim($("#captchaInput").val()) != '') {
                if ($.trim($("#captchaInput").val()) == iNumber) {
                    $.ajax({
                        url: "/TrangChu/phanhoi_tao",
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify({
                            HoTen: $.trim($("#hoTen").val()),
                            Tuoi: $.trim($("#tuoi").val()),
                            DiaChi: $.trim($("#diaChi").val()),
                            TieuDe: $.trim($("#tieuDe").val()),
                            NoiDung: $.trim($("#noiDung").val())
                        }),
                        success: function (data) {
                            if (data > 0) {
                                alert('Đăng phản hồi thành công!');
                            }
                            else {
                                alert('Đăng phản hồi không thành công!');
                            }
                            reset();
                        },
                        error: errorFunc,
                        async: false
                    });
                }
                else {
                    $("#captchaInput").validationEngine('showPrompt', 'Mã xác nhận không đúng!', 'error', true);
                    iNumber = Math.floor(Math.random() * 100000);
                    $("#txtCaptcha").val(iNumber);
                }
            }
            $(this).prop('disabled', false);
        });
        
        $("#dangKy").click(function () {
            window.location.href = '/LopHoc/DanhSach';
        });
    });

    function errorFunc() {
        alert('Xảy ra lỗi trong quá trình thực hiện!');
    }

    function reset() {
        $('#hoTen').val('');
        $('#tuoi').val('');
        $('#diaChi').val('');
        $('#tieuDe').val('');
        $('#noiDung').val('');
        $('#captchaInput').val('');
        iNumber = Math.floor(Math.random() * 100000);
        $("#txtCaptcha").val(iNumber);
    }
</script>  
