@{
    List<LibModels.BaiViet> l_BaiViet = (List<LibModels.BaiViet>)Model;
    byte ChuDeID = (ViewContext.RouteData.Values["id"] == null) ? (byte)0 : Byte.Parse(ViewContext.RouteData.Values["id"].ToString());
    int totalPage = new LibModels.BaiViet().GetTotalPage(6, ChuDeID, 0);
}
<input type="text" style="display:none;" id="chuDeID" value="@ChuDeID" />

<hgroup class="page-head">          
    <h2><span>Danh sách bài viết</span></h2>
    <h5>Trung tâm luyện thi đại học Tiến Đạt. Số 8, ngõ 17 Tạ Quang Bửu - 0903288866.</h5>
</hgroup>

<div id="container">
    <section class="service-list three-col">	                                        
        <ul>
            @if (l_BaiViet.Count > 0)
            {
                foreach (LibModels.BaiViet bv in l_BaiViet)
                {
                    <li>
                        <figure>
                            <a href="/BaiViet/ChiTiet/@bv.ID" title="Dental Treatment"><img src="@bv.URL" alt="Dental Treatment"></a>
                        </figure>
                        <h3><a href="/BaiViet/ChiTiet/@bv.ID">@bv.TieuDe</a></h3>
                        <p>@bv.SoLuoc</p>
                        <a href="/BaiViet/ChiTiet/@bv.ID" class="readmore">Xem</a>
                    </li>
                }
            }
		</ul>
        <div id="pagination">
            @if (totalPage > 1)
            {
                <a href="#" id="1" class="readmore pageBtn current">1</a>
                if (totalPage <= 10)
                {
                    for (int i = 2; i <= totalPage; i++)
                    {
                        <a href="#" class="readmore pageBtn" id="@i">@i</a>
                    }
                }
                else
                {
                    for (int i = 2; i <= 7; i++)
                    {
                        <a href="#" class="readmore pageBtn" id="@i">@i</a>
                    }
                    <span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>
                    <a href="#" class="readmore pageBtn" id="@(totalPage - 1)">@(totalPage - 1)</a>
                    <a href="#" class="readmore pageBtn" id="@totalPage">@totalPage</a>
                }
            }
        </div>
    </section>
</div><!-- end of container -->

<script>
    var i = 1;

    $(document).ready(function () {
        $('.pageBtn').click(function () {
            i = $(this).text();
            $.ajax({
                url: "/BaiViet/baiviet_phantrang",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    PageNum: i,
                    ChuDeID: $('#chuDeID').val()
                }),
                success: successFunc,
                error: errorFunc,
                async: false
            });
        });
    });

    function successFunc(data) {
        $('.pageBtn').each(function () {
            $(this).attr('class', 'readmore pageBtn');
        });
        $('#' + i).attr('class', 'readmore pageBtn current');

        var element = '';
        var list = data;
        $.each(list, function (index, item) {
            element += '<li><figure><a href="/BaiViet/ChiTiet/' + item.ID + '" title="Dental Treatment"><img src="' + item.URL + '" alt="Dental Treatment"></a></figure>';
            element += '<h3><a href="/BaiViet/ChiTiet/' + item.ID + '">' + item.TieuDe + '</a></h3><p>' + item.SoLuoc + '</p><a href="/BaiViet/ChiTiet/' + item.ID + '" class="readmore">Xem</a></li>';
        });
        $('.service-list ul').html(element);
    }

    function errorFunc() {
        alert('Xảy ra lỗi trong quá trình thực hiện!');
    }
</script>
