@{
    List<LibModels.Album> l_Album = ((TrungTamTienDat.Models.ViewModels)Model).l_Album;
    List<LibModels.Anh> l_Anh = ((TrungTamTienDat.Models.ViewModels)Model).l_Anh;
}

<hgroup class="page-head">    		
    <h2><span>Thư viện ảnh</span></h2>
    <h5>Trung tâm luyện thi đại học Tiến Đạt. Số 8, ngõ 17 Tạ Quang Bửu - 0903288866.</h5>
</hgroup>
            
<div id="container" class="clearfix">
                    
    <div id="content" class="full-width">								
                    
	<ul id="filter-by" class="clearfix">
        <li><a href="#" data-filter="gallery-item" class="active">Tất cả</a></li>
        @if(l_Album.Count > 0){
            foreach (LibModels.Album al in l_Album)
            {
                <li><a href="#" data-filter="@al.ID">@al.TenAlbum</a></li>
            }
        }
    </ul>
					
	<div id="gallery-container" class="gallery-3-columns isotope clearfix">
        @if (l_Anh.Count > 0)
        {
            foreach (LibModels.Anh a in l_Anh)
            {
                <div class="type-gallery-item hentry isotope-item gallery-item @a.AlbumID">
                    <a class="pretty-photo" href="@a.URL"><img src="@a.URL"></a>	
		        </div>
            }
        }
	</div><!-- end of gallery container --> 

    </div><!-- end of content -->
                    
</div><!-- end of container -->