@{
    List<LibModels.LopHoc> l_LopHoc = ((TrungTamTienDat.Models.ViewModels)Model).l_LopHoc;
    List<LibModels.MonHoc> l_MonHoc = ((TrungTamTienDat.Models.ViewModels)Model).l_MonHoc;
}

<hgroup class="page-head">          
    <h2><span>Danh sách lớp học</span></h2>
    <h5>Trung tâm luyện thi đại học Tiến Đạt. Số 8, ngõ 17 Tạ Quang Bửu - 0903288866.</h5>
</hgroup>

<div id="container" class="clearfix" >
    <form id="searchform" action="#">
        <div>
            <select id="monHoc" class="slt">
                <option value="0">--Chuyên đề--</option>
                @{
                    if (l_MonHoc.Count > 0)
                    {
                        foreach (LibModels.MonHoc mh in l_MonHoc)
                        {
                            <option value="@mh.ID">@mh.TenMonHoc</option>
                        }
                    }
                }
            </select>
            <select id="khoi" class="slt">
                <option value="0">--Khối--</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <input type="submit" id="searchSubmit" value="Tìm kiếm" class="readmore">
        </div>
    </form>
    <br />
	<div style="overflow-x:auto;">
        @if (l_LopHoc.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Tên lớp</th>
                        <th>Chuyên đề</th>
                        <th>Khối</th>
                        <th>Hạn đăng ký</th>
                        <th>Ngày nhập học</th>
                        <th>Lịch học</th>
                        <th>Học phí</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (LibModels.LopHoc lh in l_LopHoc)
                {
                    <tr>
                        <td>@lh.TenLopHoc</td>
                        <td>@lh.TenMonHoc</td>
                        <td width="4%">@lh.Khoi</td>
                        @if (lh.HanChot.Equals("01/01/1900"))
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@lh.HanChot</td>
                        }
                        <td>@lh.NgayNhapHoc</td>
                        <td width="20%">@lh.LichHoc</td>
                        @if (lh.LoaiHocPhiID == 1)
                        {
                            <td>@lh.HocPhi.ToString("N0")đ/buổi</td>
                        }
                        else
                        {
                            <td>@lh.HocPhi.ToString("N0")đ/khóa</td>
                        }
                        <td width="6%"><a href="/LopHoc/ChiTiet/@lh.ID" target="_blank" class="readmore">Xem thêm</a></td>
                        @if (lh.DangKy)
                        {
                            <td width="6%"><a href="/LopHoc/DanhSachBaiViet/@lh.ID" class="" id="@lh.ID">Chi tiết</a></td>
                        }
                        else
                        {
                            <td width="6%"><a href="#" class="readmore reg" id="@lh.ID">Đăng ký</a></td>
                        }
                        
                    </tr>
                }
                </tbody>
            </table><br /><br />
        }
    </div>
</div><!-- end of container -->  

<div id="myModal" class="modal">
 <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">×</span>
            <h2>Đăng ký</h2>
        </div>
        <div class="modal-body">
            <form id="appoint-form">
                <p>
                    <label class="display-ie8" for="apo_name">Họ tên</label>
                    <input type="text" name="apo_name" class="validate[required]" id="hoTen" maxlength="50" placeholder="Họ tên" />
                </p>
                <p>
                    <label class="display-ie8" for="apo_phone">Tuổi</label>
                    <input type="text" name="apo_phone" class="validate[required]" id="tuoi" maxlength="3" placeholder="Tuổi" />
                </p>
                <p>
                    <label class="display-ie8" for="apo_phone">Email</label>
                    <input type="text" name="apo_phone" class="validate[required]" id="email" maxlength="100" placeholder="Email" />
                </p>
                <p>
                    <label class="display-ie8" for="apo_phone">SĐT</label>
                    <input type="text" name="apo_phone" class="validate[required]" id="sdt" maxlength="11" placeholder="SDT" />
                </p>
                <p>
                    <label class="display-ie8" for="apo_phone">Địa chỉ</label>
                    <input type="text" name="apo_phone" class="validate[required]" id="diaChi" maxlength="200" placeholder="Địa chỉ" />
                </p>
                @{
                    if (Session["Username"] == null)
                    {
                        <p>
                            <label class="display-ie8" for="apo_phone">Username</label>
                            <input type="text" name="apo_phone" class="validate[required]" id="username" maxlength="200" placeholder="Username" />
                        </p>
                        <p>
                            <label class="display-ie8" for="apo_phone">Mật khẩu</label>
                            <input type="password" name="apo_phone" class="validate[required]" id="password" maxlength="200" placeholder="Password" />
                        </p>
                        <p>
                            <label class="display-ie8" for="apo_phone">Xác nhận mật khẩu</label>
                            <input type="password" name="apo_phone" class="validate[required]" id="password1" maxlength="200" placeholder="Password" />
                        </p>
                    }
                    else
                    {
                        <input type="hidden" id="username" value="@Session["Username"].ToString()" />
                        <input type="hidden" id="password" value="" />
                    }
                }
                
                <div class="captcha-container">
                    <div id="divGenerateRandomValues"></div>
                    <a href="#" id="reloadCaptcha"><img src="/images/refreshCaptcha.png" /></a>
                    <input type="text" class="captcha validate[required]" id="captchaInput" maxlength="5"/>
                </div>
                                                            
                <p>
                    <input type="submit" value="Xác nhận" id="submit" class="readmore">
                </p>
            </form>
        </div>
    </div>
</div>

<!-- CSS of responsive table-->
<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        border: none;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even), thead tr{ 
        background-color: #f2f2f2;
    }
</style>

<script>
    var lopHocID = 0;

    $(document).ready(function () {
        $(document).on("input", "#tuoi, #sdt", function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });

        var iNumber = Math.floor(Math.random() * 100000);

        $("#divGenerateRandomValues").css({ "background-image": 'url(/images/captcha-bg.jpg)', 'width': '140px', 'height': '45px', 'margin-bottom': '15px', 'float': 'left' });
        $("#divGenerateRandomValues").html("<input id='txtCaptcha'></input>");
        $("#txtCaptcha").css({ 'background': 'transparent', 'font-family': 'goodbye', 'font-style': 'bold', 'font-size': '36px' });
        $("#txtCaptcha").css({ 'width': '140px', 'border': 'none', 'color': 'black', 'text-align': 'center' });
        $("#txtCaptcha").val(iNumber);
        $("#txtCaptcha").prop('disabled', true);

        $('#reloadCaptcha').click(function () {
            iNumber = Math.floor(Math.random() * 100000);
            $("#txtCaptcha").val(iNumber);
            return false;
        });

        $(document).on('click', '.reg', function () {
            lopHocID = $(this).attr('id');
            var modal = document.getElementById('myModal');
            modal.style.display = "block";
        });

        $("#submit").click(function () {
            $(this).prop('disabled', true);
            if ($.trim($("#hoTen").val()) != '' && $.trim($("#email").val()) != '' && $.trim($("#sdt").val()) != '' && $.trim($("#diaChi").val()) != '' && $.trim($("#tuoi").val()) != '') {
                if ($.trim($("#captchaInput").val()) == iNumber) {
                    $.ajax({
                        url: "/LopHoc/hocvien_dangky",
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify({
                            HoTen: $.trim($("#hoTen").val()),
                            Tuoi: $.trim($("#tuoi").val()),
                            DiaChi: $.trim($("#diaChi").val()),
                            Email: $.trim($("#email").val()),
                            SDT: $.trim($("#sdt").val()),
                            Username: $.trim($("#username").val()),
                            Password: $.trim($("#password").val()),
                            LopHocID: lopHocID
                        }),
                        success: function (data) {
                            if (data > 0) {
                                alert('Đăng ký thành công!');
                            }
                            else {
                                alert('Đăng ký không thành công!');
                            }
                            reset();
                        },
                        error: errorFunc,
                        async: false
                    });
                }
                else {
                    $("#captchaInput").validationEngine('showPrompt', 'Mã xác nhận không đúng!', 'error', true);
                    iNumber = Math.floor(Math.random() * 100000);
                    $("#txtCaptcha").val(iNumber);
                }
            }
            $(this).prop('disabled', false);
        });

        $("#searchSubmit").click(function () {
            $('tbody').html('<tr><td colspan="9" style="text-align: center;"><img src="/images/loading.gif" /></td></tr>');
            $.ajax({
                url: "/LopHoc/lophoc_search",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    MonHocID: $("#monHoc").val(),
                    Khoi: $("#khoi").val()
                }),
                success: successSearchFunc,
                error: errorFunc,
                async: false
            });
        });
    });

    //Script for modal -->
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];


    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        lopHocID = 0;
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            lopHocID = 0;
        }
    }

    function successSearchFunc(data) {
        var list = data;
        var i = 1;
        $('tbody').html("");
        var element;

        $.each(list, function (index, item) {
            element = '';
            element += '<tr><td>' + item.TenLopHoc + '</td><td>' + item.TenMonHoc + '</td><td width="4%">' + item.Khoi + '</td>';
            element += '<td>' + ((item.HanChot == "01/01/1990") ? "" : item.HanChot) + '</td>';
            element += '<td>' + item.NgayNhapHoc + '</td><td width="20%">' + item.LichHoc + '</td>';
            element += '<td>' + ((item.LoaiHocPhiID == 1) ? addCommas(item.HocPhi) + "đ/buổi" : addCommas(item.HocPhi) + "đ/khóa") + '</td>';
            element += '<td width="6%"><a href="/LopHoc/ChiTiet/' + item.ID + '" target="_blank" class="readmore">Xem thêm</a></td><td width="6%"><a href="#" class="readmore reg" id="' + item.ID + '">Đăng ký</a></td></tr>';

            $('tbody').append(element);
        });
    }

    function errorFunc() {
        alert('Xảy ra lỗi trong quá trình thực hiện!');
    }

    function reset() {
        //$('#hoTen').val('');
        //$('#tuoi').val('');
        //$('#diaChi').val('');
        //$('#email').val('');
        //$('#sdt').val('');
        //$('#username').val('');
        //$('#password').val('');
        //$('#password1').val('');
        //$('#captchaInput').val('');
        //iNumber = Math.floor(Math.random() * 100000);
        //$("#txtCaptcha").val(iNumber);
        location.href = location.href.replace("#", "#");
    }

    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

</script>
