@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<LibModels.ChuDe> l_ChuDe = new LibModels.ChuDe().GetList("");
    List<LibModels.LopHoc> l_LopHoc = new LibModels.LopHoc().GetList("", 0, "", 0, "");
    LibModels.BaiViet baiViet = new LibModels.BaiViet();
    var res = ViewContext.RouteData.Values["id"];
    if (res != null)
    {
        baiViet = (LibModels.BaiViet)Model;
    }
}
<div class="page-title">
    <div class="title_left">
        <ol class="breadcrumb" style="font-size:15px;">
          <li><a href="/Admin/">Trang chủ</a></li>
          <li>Cập nhật bài viết</li>
        </ol>
    </div>

    <div class="title_right">
        <input type="text" id="ID" value="@(ViewContext.RouteData.Values["id"])" style="display: none;" />
        <input type="text" id="url" value="@baiViet.URL" style="display: none;" />
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
        <div class="x_title">
            <h2>Quản lý bài viết</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form id="form" class="form-horizontal form-label-left" novalidate>
                <center style="margin-bottom: 20px;">
                    @if (res == null)
                    {
                        <h3>TẠO MỚI BÀI VIẾT</h3>
                    }
                    else {
                        <h3>CẬP NHẬT BÀI VIẾT</h3>
                    }
                </center>

                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">Tiêu đề <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">               
                            @if (res == null)
                            {
                                <input type="text" id="tieuDe" class="form-control col-md-7 col-xs-12 validate[required]" maxlength="100" />
                            }
                            else {
                                <input type="text" id="tieuDe" class="form-control col-md-7 col-xs-12 validate[required]" maxlength="100" value="@baiViet.TieuDe" />
                            }               
                        </div>
                    </div>         
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label for="middle-name" class="control-label col-md-2 col-sm-2 col-xs-12">Sơ lược <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @if (res == null)
                            {
                                <textarea id="soLuoc" class="form-control col-md-7 col-xs-12 validate[required]" maxlength="150"></textarea>
                            }
                            else {
                                <textarea id="soLuoc" class="form-control col-md-7 col-xs-12 validate[required]" maxlength="150">@baiViet.SoLuoc</textarea>
                            } 
                        </div>
                    </div>     
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label for="middle-name" class="control-label col-md-2 col-sm-2 col-xs-12">Nội dung bài viết <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @if (res == null)
                            {
                                <textarea id="noiDung" class="form-control col-md-7 col-xs-12 validate[required]"></textarea>
                            }
                            else {
                                <textarea id="noiDung" class="form-control col-md-7 col-xs-12 validate[required]">@baiViet.NoiDung</textarea>
                            } 
                        </div>
                    </div>     
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label for="middle-name" class="control-label col-md-2 col-sm-2 col-xs-12">Chuyên đề bài viết <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <select class="form-control selectpicker" id="chuDe" data-live-search="true">
                                @{
                                    if (l_ChuDe.Count > 0)
                                    {
                                        foreach (LibModels.ChuDe cd in l_ChuDe)
                                        {
                                            if (res != null && baiViet.ChuDeID == cd.ID)
                                            {
                                                <option selected="selected" value="@cd.ID">@cd.TenChuDe</option>
                                            }
                                            else {
                                                <option value="@cd.ID">@cd.TenChuDe</option>
                                            }
                                        }
                                    }
                                }
                            </select> 
                        </div>
                    </div>     
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label for="middle-name" class="control-label col-md-2 col-sm-2 col-xs-12">Lớp học <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <select class="form-control selectpicker" id="lopHoc" data-live-search="true">
                                <option value="0" @(baiViet.LopHocID == 0 ? "selected=\"selected\"" : "")>- Không giới hạn -</option>
                                @{
                                    if (l_LopHoc.Count > 0)
                                    {
                                        foreach (var lh in l_LopHoc)
                                        {
                                            if (res != null && baiViet.LopHocID == lh.ID)
                                            {
                                                <option selected="selected" value="@lh.ID">@lh.TenLopHoc</option>
                                            }
                                            else
                                            {
                                                <option value="@lh.ID">@lh.TenLopHoc</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label for="middle-name" class="control-label col-md-2 col-sm-2 col-xs-12">Ảnh đại diện </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="file" id="imageUpload" name="file"> <br />
                            <div style="width: 200px;" id="image-holder"> </div>
                        </div>
                    </div>     
                </div>

                <div class="ln_solid"></div>
                <p style="color:red; text-tra"><i>Những trường có dấu (*) là những trường bắt buộc cần điền</i></p>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <button id="cancel" class="btn btn-primary">Trở về</button>
                        <button id="submit" type="submit" class="btn btn-success">Xác nhận</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<script>
    var path = ($('#url').val() != '') ? $('#url').val() : '';
    // Sự kiện nhấn nút enter
    $(document).keydown(function (e) {
        if (e.which == 13) {
            $('#submit').click();
        }
    });

    $(document).ready(function () {
        $('#cancel').click(function () {
            $("#form").validationEngine('detach');
            window.location.href = '/Admin/';
            return false;
        });

        var _URL = window.URL || window.webkitURL;
        $('#imageUpload').change(function (e) {
            // Kiểm tra xem có phải định dạng ảnh hay không
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                $('#imageUpload').val('');
                alert("Những định dạng file cho phép : " + fileExtension.join(', '));
                return false;
            }
            else {
                // Hiển thị ảnh đã chọn
                if (typeof (FileReader) != "undefined") {
                    var image_holder = $("#image-holder");
                    image_holder.empty();

                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                            "class": "thumb-image img-responsive"
                        }).appendTo(image_holder);

                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                } else {
                    alert("This browser does not support FileReader.");
                }
            }
            path = '';
        });

        $('#submit').click(function () {
            var noiDung = CKEDITOR.instances['noiDung'].getData();
            if ($.trim(noiDung) != '' && $.trim($("#tieuDe").val()) != '' && $.trim($("#soLuoc").val()) != '' && ($("#imageUpload").val() != '' || path != '')) {
                $('#submit').prop('disabled', true);

                var id = ($('#ID').val() != '') ? $('#ID').val() : 0;
                if ($("#imageUpload").val() != '') {
                    var formData = new FormData();
                    formData.append('file', $('#imageUpload')[0].files[0]);
                    $.ajax({
                        type: 'post',
                        url: '/Admin/BaiViet/uploadFile',
                        data: formData,
                        success: successUploadFunc,
                        processData: false,
                        contentType: false,
                        error: function () {
                            alert("Upload file thất bại!");
                        }
                    });
                }
                else {
                    $.ajax({
                        url: "/Admin/BaiViet/baiviet_capnhat",
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify({
                            ID: id,
                            TieuDe: $.trim($("#tieuDe").val()),
                            SoLuoc: $.trim($("#soLuoc").val()),
                            NoiDung: $.trim(noiDung),
                            ChuDeID: $('#chuDe option:selected').val(),
                            LopHocID: $('#lopHoc option:selected').val(),
                            URL: path
                        }),
                        success: function (data) {
                            if (data > 0) {
                                alert('Cập nhật thành công!');
                                window.location.href = '/Admin/';
                            }
                            else {
                                alert('Cập nhật không thành công!');
                            }
                        },
                        error: function () {
                            alert("Xảy ra lỗi trong quá trình thực hiện!");
                        },
                        async: false
                    });
                }

                $('#submit').prop('disabled', false);
            }
            else {
                alert('Xin hãy điền đầy đủ thông tin bài viết!');
            }
            return false;
        });
    });

    function successUploadFunc(data) {
        var id = ($('#ID').val() != '') ? $('#ID').val() : 0;
        var noiDung = CKEDITOR.instances['noiDung'].getData();
        var path = data.toString();
        $.ajax({
            url: "/Admin/BaiViet/baiviet_capnhat",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({
                ID: id,
                TieuDe: $.trim($("#tieuDe").val()),
                SoLuoc: $.trim($("#soLuoc").val()),
                NoiDung: noiDung,
                ChuDeID: $('#chuDe option:selected').val(),
                LopHocID: $('#lopHoc option:selected').val(),
                URL: data.toString()
            }),
            success: function (data) {
                if (data > 0) {
                    alert('Cập nhật thành công!');
                    window.location.href = '/Admin/';
                }
                else {
                    deleteFile(path);
                    alert('Cập nhật không thành công!');
                }
            },
            error: function () {
                deleteFile(path);
                alert("Xảy ra lỗi trong quá trình thực hiện!");
            },
            async: false
        });
    }

    function deleteFile(path) {
        $.ajax({
            url: "/Admin/BaiViet/deleteFile",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({
                path: path,
            }),
            error: function () {
                alert("Delete file thất bại!");
            },
            async: false
        });
    }
</script>
<!-- Khai báo CKEditor -->
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {
        createEditor('vi', 'noiDung');
    });
</script>

