@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<LibModels.MonHoc> l_MonHoc = new LibModels.MonHoc().GetList();
    List<LibModels.MonHoc> l_MonHocGiaoVien = new List<LibModels.MonHoc>();
    LibModels.GiaoVien giaoVien = new LibModels.GiaoVien();
    var res = ViewContext.RouteData.Values["id"];
    if (res != null)
    {
        giaoVien = (LibModels.GiaoVien)Model;
        l_MonHocGiaoVien = new LibModels.MonHoc().GetListByGiaoVien(Int16.Parse(res.ToString()));
    }
}
@functions {
    public bool checkExistMonHoc(byte ID, List<LibModels.MonHoc> list)
    {
        bool flag = false;
        if (list != null && list.Count > 0)
        {
            foreach (LibModels.MonHoc mh in list)
            {
                if (mh.ID == ID) flag = true;
            }
        }
        return flag;
    }
}

<div class="page-title">
    <div class="title_left">
        <ol class="breadcrumb" style="font-size:15px;">
          <li><a href="/Admin/">Trang chủ</a></li>
          <li>Cập nhật giáo viên</li>
        </ol>
    </div>

    <div class="title_right">
        <input type="text" id="ID" value="@(ViewContext.RouteData.Values["id"])" style="display: none;" />
        <input type="text" id="url" value="@giaoVien.URL" style="display: none;" />
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
        <div class="x_title">
            <h2>Quản lý thông tin giảng viên</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form id="form" class="form-horizontal form-label-left" novalidate>
                <center style="margin-bottom: 20px;">
                    @if (res == null)
                    {
                        <h3>TẠO MỚI GIÁO VIÊN</h3>
                    }
                    else{
                        <h3>CẬP NHẬT GIÁO VIÊN</h3>
                    }
                </center>

                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">Họ tên <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">               
                            @if (res == null)
                            {
                                <input type="text" id="hoTen" class="form-control col-md-7 col-xs-12 validate[required]" maxlength="50" />
                            }
                            else{
                                <input type="text" id="hoTen" class="form-control col-md-7 col-xs-12 validate[required]" maxlength="50" value="@giaoVien.HoTen" />
                            }
                        </div>
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">Tuổi <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-9 col-xs-12">               
                            @if (res == null)
                            {
                                <input type="text" id="tuoi" class="form-control col-md-4 col-xs-12 validate[required]" maxlength="3" />
                            }
                            else{
                                <input type="text" id="tuoi" class="form-control col-md-7 col-xs-12 validate[required]" maxlength="3" value="@giaoVien.Tuoi" />
                            }
                        </div>
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label for="middle-name" class="control-label col-md-2 col-sm-2 col-xs-12">Sơ lược <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @if (res == null)
                            {
                                <textarea id="soLuoc" class="form-control col-md-7 col-xs-12 validate[required]" maxlength="200"></textarea>
                            }
                            else{
                                <textarea id="soLuoc" class="form-control col-md-7 col-xs-12 validate[required]" maxlength="200">@giaoVien.SoLuoc</textarea>
                            } 
                        </div>
                    </div>     
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label for="middle-name" class="control-label col-md-2 col-sm-2 col-xs-12">Nội dung bài viết <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @if (res == null)
                            {
                                <textarea id="chiTiet" class="form-control col-md-7 col-xs-12 validate[required]"></textarea>
                            }
                            else{
                                <textarea id="chiTiet" class="form-control col-md-7 col-xs-12 validate[required]">@giaoVien.ChiTiet</textarea>
                            } 
                        </div>
                    </div>     
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">Học vị
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">               
                            @if (res == null)
                            {
                                <input type="text" id="hocVi" class="form-control col-md-7 col-xs-12" maxlength="30" />
                            }
                            else{
                                <input type="text" id="hocVi" class="form-control col-md-7 col-xs-12" maxlength="30" value="@giaoVien.HocVi" />
                            }
                        </div>
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">Nơi công tác hiện tại
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">               
                            @if (res == null)
                            {
                                <input type="text" id="noiCongTac" class="form-control col-md-7 col-xs-12" maxlength="100" />
                            }
                            else{
                                <input type="text" id="noiCongTac" class="form-control col-md-7 col-xs-12" maxlength="100" value="@giaoVien.NoiCongTac" />
                            }
                        </div>
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label for="middle-name" class="control-label col-md-2 col-sm-2 col-xs-12">Chuyên môn <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <select id="monHoc" class="form-control selectpicker" multiple data-live-search="true" title="--Chọn chuyên môn--">
                                @{
                                if (l_MonHoc.Count > 0)
                                    {
                                        foreach (LibModels.MonHoc mh in l_MonHoc)
                                        {
                                            if (res != null && checkExistMonHoc(mh.ID, l_MonHocGiaoVien))
                                            {
                                                <option selected="selected" value="@mh.ID">@mh.TenMonHoc</option>
                                            }
                                            else {
                                                <option value="@mh.ID">@mh.TenMonHoc</option>
                                            }
                                        }
                                    }
                                }
                            </select> 
                        </div>
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">URL Facebook cá nhân (nếu có)
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">               
                            @if (res == null)
                            {
                                <input type="text" id="facebook" class="form-control col-md-7 col-xs-12" maxlength="1000" />
                            }
                            else{
                                <input type="text" id="facebook" class="form-control col-md-7 col-xs-12" maxlength="1000" value="@giaoVien.Facebook" />
                            }
                        </div>
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">URL Twitter cá nhân (nếu có)
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">               
                            @if (res == null)
                            {
                                <input type="text" id="twitter" class="form-control col-md-7 col-xs-12" maxlength="1000" />
                            }
                            else{
                                <input type="text" id="twitter" class="form-control col-md-7 col-xs-12" maxlength="1000" value="@giaoVien.Twitter" />
                            }
                        </div>
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-md-offset-1 col-md-11 col-xs-12">
                        <label for="middle-name" class="control-label col-md-2 col-sm-2 col-xs-12">Ảnh đại diện </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="file" id="imageUpload" name="file"> <br />
                            <div style="width: 200px;" id="image-holder"> </div>
                        </div>
                    </div>     
                </div>

                <div class="ln_solid"></div>
                <p style="color:red; text-tra"><i>Những trường có dấu (*) là những trường bắt buộc cần điền</i></p>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <button id="cancel" class="btn btn-primary">Trở về</button>
                        <button id="submit" type="submit" class="btn btn-success">Xác nhận</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<script>
    var path = ($('#url').val() != '') ? $('#url').val() : '';
    // Sự kiện nhấn nút enter
    $(document).keydown(function (e) {
        if (e.which == 13) {
            $('#submit').click();
        }
    });

    $(document).on("input", "#tuoi", function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    $(document).ready(function () {
        $('#cancel').click(function () {
            $("#form").validationEngine('detach');
            window.location.href = '/Admin/';
            return false;
        });

        var _URL = window.URL || window.webkitURL;
        $('#imageUpload').change(function (e) {
            // Kiểm tra xem có phải định dạng ảnh hay không
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                $('#imageUpload').val('');
                alert("Những định dạng file cho phép : " + fileExtension.join(', '));
                return false;
            }
            else {
                // Hiển thị ảnh đã chọn
                if (typeof (FileReader) != "undefined") {
                    var image_holder = $("#image-holder");
                    image_holder.empty();

                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                            "class": "thumb-image img-responsive"
                        }).appendTo(image_holder);

                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                } else {
                    alert("This browser does not support FileReader.");
                }
            }
            path = '';
        });

        $('#submit').click(function () {
            var chiTiet = CKEDITOR.instances['chiTiet'].getData();
            if ($.trim(chiTiet) != '' && $.trim($("#hoTen").val()) != '' && $.trim($("#tuoi").val()) != '' && $.trim($("#soLuoc").val()) != '' && $("#monHoc").val() != '') {
                $('#submit').prop('disabled', true);

                var id = ($('#ID').val() != '') ? $('#ID').val() : 0;
                if ($("#imageUpload").val() != '') {
                    var formData = new FormData();
                    formData.append('file', $('#imageUpload')[0].files[0]);
                    $.ajax({
                        type: 'post',
                        url: '/Admin/GiaoVien/uploadFile',
                        data: formData,
                        success: successUploadFunc,
                        processData: false,
                        contentType: false,
                        error: function () {
                            alert("Upload file thất bại!");
                        }
                    });
                }
                else {
                    $.ajax({
                        url: "/Admin/GiaoVien/giaovien_capnhat",
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify({
                            ID: id,
                            HoTen: $.trim($("#hoTen").val()),
                            Tuoi: $.trim($("#tuoi").val()),
                            HocVi: ($.trim($("#hocVi").val()) != '') ? $.trim($("#hocVi").val()) : '',
                            NoiCongTac: ($.trim($("#noiCongTac").val()) != '') ? $.trim($("#noiCongTac").val()) : '',
                            SoLuoc: $.trim($("#soLuoc").val()),
                            ChiTiet: $.trim(chiTiet),
                            URL: path,
                            Facebook: ($.trim($("#facebook").val()) != '') ? $.trim($("#facebook").val()) : '',
                            Twitter: ($.trim($("#twitter").val()) != '') ? $.trim($("#twitter").val()) : '',
                            listMH: $("#monHoc").val().toString()
                        }),
                        success: function (data) {
                            if (data > 0) {
                                alert('Cập nhật thành công!');
                                window.location.href = '/Admin/';
                            }
                            else {
                                alert('Cập nhật không thành công!');
                            }
                        },
                        error: function () {
                            alert("Xảy ra lỗi trong quá trình thực hiện!");
                        },
                        async: false
                    });
                }

                $('#submit').prop('disabled', false);
            }
            else {
                alert('Xin hãy điền đầy đủ thông tin bài viết!');
            }
            return false;
        });
    });

    function successUploadFunc(data) {
        var id = ($('#ID').val() != '') ? $('#ID').val() : 0;
        var chiTiet = CKEDITOR.instances['chiTiet'].getData();
        var path = data.toString();
        $.ajax({
            url: "/Admin/GiaoVien/giaovien_capnhat",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({
                ID: id,
                HoTen: $.trim($("#hoTen").val()),
                Tuoi: $.trim($("#tuoi").val()),
                HocVi: ($.trim($("#hocVi").val()) != '') ? $.trim($("#hocVi").val()) : '',
                NoiCongTac: ($.trim($("#noiCongTac").val()) != '') ? $.trim($("#noiCongTac").val()) : '',
                SoLuoc: $.trim($("#soLuoc").val()),
                ChiTiet: $.trim(chiTiet),
                URL: data.toString(),
                Facebook: ($.trim($("#facebook").val()) != '') ? $.trim($("#facebook").val()) : '',
                Twitter: ($.trim($("#twitter").val()) != '') ? $.trim($("#twitter").val()) : '',
                listMH: $('#monHoc').val().toString()
            }),
            success: function (data) {
                if (data > 0) {
                    alert('Cập nhật thành công!');
                    window.location.href = '/Admin/';
                }
                else {
                    deleteFile(path);
                    alert('Cập nhật không thành công!');
                }
            },
            error: function () {
                deleteFile(path);
                alert("Xảy ra lỗi trong quá trình thực hiện!");
            },
            async: false
        });
    }

    function deleteFile(path) {
        $.ajax({
            url: "/Admin/GiaoVien/deleteFile",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({
                path: path,
            }),
            error: function () {
                alert("Delete file thất bại!");
            },
            async: false
        });
    }
</script>

<!-- Khai báo CKEditor -->
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {
        createEditor('vi', 'chiTiet');
    });
</script>